* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-sub {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  .main {
    width: 600px;
    height: 480px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }
  .block {
    width: 170px;
    height: 200px;
    border: 1px solid gray;
    position: relative;
    transition: all 0.4s;
    border-radius: 4px;
  }
  .block:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 14px -4px rgba(171, 161, 171, 1);
  }
  .block:active {
    transform: scale(0.8);
    box-shadow: none;
  }
  .all-img {
    width: 90px;
    height: 90px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .price {
    border: 1px solid gray;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 22px;
    color: gray;
  }
  .total {
    width: 450px;
    height: 450px;
    border: 1px solid gray;
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  .text-for-header {
    border: none;
    width: 95%;
    margin-left: 10px;
    border-bottom: 1px solid gray;
    color: gray;
    font-family: monospace;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
  .totaliti {
    border: 1px solid gray;
    margin-top: 30px;
  }
  .sum {
    font-size: 20px;
    font-family: monospace;
    font-weight: 400;
    color: gray;
    text-align: center;
  }
  .list {
    list-style: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    font-size: 20px;
    color: gray;
    font-family: monospace;
    width: 85%;
    margin: 10px auto;
  }
  .btn {
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 18px;
    font-family: monospace;
    color: gray;
    margin-left: 10px;
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s;
  }
  .btn:hover {
    transform: translateY(-5px);
  }
  .btn:active {
    transform: scale(1.1);
  }
  